<?xml version="1.0" encoding="UTF-8"?>

<!-- Hibernate的主配置文件 配置hibernate运行的参数信息
	1.在类的根路径下创建一个名为hibernate.cfg.xml的文件
	2.导入约束
 -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 会话工厂 :
			作用：生产Session对象，相当于connection，用于
			操作数据库对象
	-->
 	<session-factory>
 	
 		<!-- Hibernate的基本配置信息 -->
 		<!-- 为了方便调试是否在运行hibernate时在日志中输出sql语句 -->
 		<property name="hibernate.show_sql">true</property>
 		<!-- 是否对日志中输出的sql语句进行格式化 -->
 		<property name="hibernate.format_sql">true</property>
 		<property name="hibernate.hbm2ddl.auto">update</property>
 		<!-- 把当前session绑定到线程 -->
 		<!-- <property name="hibernate.current_session_context_class">thread</property> -->
 		<!-- 加载映射文件 -->
 		<mapping resource="com/crm/domain/CstCustomer.hbm.xml"/>
 		<mapping resource="com/crm/domain/CstLinkMan.hbm.xml"/>
 		<mapping resource="com/crm/domain/SysUser.hbm.xml"/>
 		<mapping resource="com/crm/domain/SysRole.hbm.xml"/>
 		<mapping resource="com/crm/domain/BaseDict.hbm.xml"/>
 		<mapping resource="com/crm/domain/SaleVisit.hbm.xml"/>
 		<mapping resource="com/crm/domain/SysLog.hbm.xml"/>
 	</session-factory>
</hibernate-configuration>